.venv
.env
.idea
.git
.vscode

__pycache__/
discovery/resources/codebases/
discovery/resources/zipfiles/
discovery/resources/user_uploads/
testing/
tests/traces/*
tests/sample_codebase
scanning/resources/traces/
scanning/resources/payload_examples/
scanning/resources/results/
node_spec_for_gdc.py
discovery/resources/structure_identifier_runs
discovery/resources/flow_extractor_runs/
.coverage
htmlcov
*.env
tests/traces/
tests/sample_codebase
scan_results.json
scanning/server/temp.json
structure_identifier_results.json
discovery/resources/structure_identifier_runs/*
experiments/
experiments_v2/
experiments_emu/
resources/user_uploads/
human_validation_all_evaluators/
scripts/
experiments_error_propagation/
stages_outputs/
tests/
tmp/
.env.si
*.env
runtime_artifacts/
test_input_files/
test_runs/
RIFT-BENCH-EMNLP.zip